<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="m.derakhshan.done">

    <uses-permission android:name="android.permission.VIBRATE" />

    <application
        android:name=".MyApplication"
        android:allowBackup="true"
        android:icon="@mipmap/done_icon"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/done_icon"
        android:supportsRtl="true"
        android:theme="@style/Theme.Done">
        <activity
            android:name=".MainActivity"
            android:windowSoftInputMode="adjustPan">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <receiver
            android:name=".tasks.subTasks.alarm.AlarmReceiver"
            android:enabled="true"
            android:exported="false"/>
    </application>

</manifest>